.body{
    background-color: whitesmoke;
}



.box1{
    padding-top: 100px;
    padding-left: 5px;
    width: 260px;
    background-color: rgb(189, 233, 132)
}

.pic{
    width: 260px;
}

name{
    width: 260px;
}