<!--The content below is only a placeholder and can be replaced.-->
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <title>Hello, world!</title>
   
  </head>
  <body>

      <app-navbar-home></app-navbar-home>

 

              <div class="container picture-top shadow-sm p-3 mb-5 bg-white rounded">
              
                        <img class="d-block w-100" src="assets/img/board-head.jpg" alt="First slide">
                      
                    
              </div>

    <div class="feature-list">
        <div class="container container-feature shadow-sm p-3 mb-5 bg-white rounded">
          <h2>Feature #1</h2>
        </div>

        <div class="container container-feature shadow-sm p-3 mb-5 bg-white rounded">
          <h2>Feature #2</h2>
        </div>

        <div class="container container-feature shadow-sm p-3 mb-5 bg-white rounded">
          <h2>Feature #3</h2>
        </div>

        <div class="container container-feature shadow-sm p-3 mb-5 bg-white rounded">
          <h2>Feature #4</h2>
        </div>
    </div>
        
              
    






   




    <app-foot></app-foot>





    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
  </body>
</html>